*{
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
}
header{
  background: black;
  color:white;
  padding:10px;
}
#nombre{
  background: black;
  color:white;
  border: solid black 0px;
  border-bottom: solid white 2px;
  border-radius: 2px;
}
#nombre:hover{
  animation-duration: 2s;
  animation-name: hoverIN;
  background:white;
  color:black;
  border-bottom:solid grey 2px;
  border-radius: 2px;
}
#color{
  background: black;
  color:white;
  border: solid black 0px;
  border-bottom: solid white 2px;
  border-radius: 2px;
}
#color:hover{
  animation-duration: 2s;
  animation-name: hoverIN;
  background:white;
  color:black;
  border-bottom:solid grey 2px;
  border-radius: 2px;
}

#funcion{
  background: black;
  color:white;
  border: solid black 0px;
  border-bottom: solid white 2px;
  border-radius: 2px;
}
#funcion:hover{
  animation-duration: 2s;
  animation-name: hoverIN;
  background:white;
  color:black;
  border-bottom:solid grey 2px;
  border-radius: 2px;
}

#fondo{
  background: black;
  color:white;
  border: solid black 0px;
  border-bottom: solid white 2px;
  border-radius: 2px;
}
#fondo:hover{
  animation-duration: 2s;
  animation-name: hoverIN;
  background:white;
  color:black;
  border-bottom:solid grey 2px;
  border-radius: 2px;

}
#cantidad{
  background: black;
  color:white;
  border: solid black 0px;
  border-bottom: solid white 2px;
  border-radius: 2px;
  margin-right: 10px;

}
#cantidad:hover{
  animation-duration: 2s;
  animation-name: hoverIN;
  background:white;
  color:black;
  border-bottom:solid grey 2px;
  border-radius: 2px;

}
#titulo{
  background: black;
  border: solid black 0px;
  color:white;
  height: 50px;
  padding-left: 25px;
  font-size:25px;
  border-radius: 2px;
}
#titulo:hover{
  animation-duration: 2s;
  animation-name: hoverIN;
  background:white;
  color:black;
  border-bottom:solid grey 2px;
  border-radius: 2px;
}
@keyframes hoverIN {
  from{
    background: black;
    color:white;
    border-bottom: solid white 2px;
  }
  to{
    background:white;
    color:black;
    border-bottom:solid grey 2px;
  }
}
@keyframes hoverOUT{
  from{
    background:white;
    color:black;
    border-bottom:solid grey 2px;
  }
  to{
    background: black;
    color:white;
    border-bottom: solid white 2px;
  }
}

button{
  background: black;
  color: white;
  border:solid white 2px;
  box-shadow: 5px -9px 3px #000;
  margin-left:25px;
}
button:hover{
  background:white;
  color:black;
  border-bottom:solid grey 2px;
  animation-name: hoverIN;
  animation-duration: 1s;
}
ul{
  position:absolute;
  bottom:10PX;
}
div{
  display:inline;
}
p{
  display:block;
}
li{
  display:block;
  margin:10px;
  background-color: black;
  color:white;
  padding:5px;
  animation-duration: 1s;
  animation-name: getin;
  width:auto;
  min-width: 50px;
  min-height: 25px;
}
@keyframes getin {
  from{
    background: white;
  }
  to{
    background: black;
  }
}
